:root {
  --white: #fff;
  --black: #121212;
  --black-02: #161616;
  --black-sub: #808080;
  --orange: #f3871f;

  --highlight: var(--orange);

  --bg-black: #282828;
  --bg-gray: #f8f8fa;

  --line-gray: #d6d6d6;

  --kor: 'Pretendard', sans-serif;
  --eng: '', sans-serif;

  --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.dark {
  /* 다크모드 개발 시 여기서 색상 override */
}

::selection {
  background-color: var(--orange);
  color: var(--white);
}

/* --- TEXT --- */

// 경고 문구 또는 문장 중 하나의 정보 강조의 경우 사용
strong {
  font-weight: 500;
}

// 특정 정보 하이라이트
em {
  color: var(--highlight);
}

.stroke {
  color: transparent;
  -webkit-text-stroke: 1px var(--orange);
}
