@use 'styles/variables' as *;

.mainLayoutWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.mainContentBox {
  display: flex;
  justify-content: center;
  width: 100%;
}
